@model KofCWSC.API.Models.TblMasMember

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblMasMember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KofCid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KofCid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefixUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefixUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefixUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefixUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NickNameUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NickNameUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NickNameUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NickNameUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miupdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miupdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiupdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiupdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suffix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suffix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuffixUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuffixUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuffixUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuffixUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo1Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo1Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo1UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo1UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCodeUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCodeUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCodeUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCodeUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WifesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WifesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WifesNameUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WifesNameUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WifesNameUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WifesNameUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo2Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo2Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo2UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo2UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNumberUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxNumberUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNumberUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxNumberUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Council)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Council)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouncilUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouncilUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouncilUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouncilUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assembly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assembly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssemblyUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssemblyUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Circle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Circle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CircleUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CircleUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CircleUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CircleUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deceased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deceased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeceasedUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeceasedUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeceasedUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeceasedUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhoneUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellPhoneUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhoneUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellPhoneUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatedDelegateDay1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatedDelegateDay1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatedDelegateDay2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatedDelegateDay2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatedDelegateDay3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatedDelegateDay3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidMpd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidMpd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bulletin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bulletin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BulletinUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BulletinUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BulletinUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BulletinUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataChanged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataChanged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoggedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoggedIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanEditAdmUi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanEditAdmUi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoNotEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoNotEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HidePersonalInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HidePersonalInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhyDoNotEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhyDoNotEmail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MemberId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
